
<div id="container" class="effect aside-float aside-bright mainnav-lg">
        
    <app-header></app-header>
    
      <div class="boxed">
    
          <!--CONTENT CONTAINER-->
          <!--===================================================-->
          <div id="content-container">
              <div id="page-head">
                  
                  <!--Page Title-->
                  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                  <div id="page-title">
                      <h1 class="page-header text-overflow">Expanded Navigation</h1>
                  </div>
                  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                  <!--End page title-->
    
    
              <!--Breadcrumb-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <ol class="breadcrumb">
                  <li><a href="#"><i class="pli-home"></i></a></li>
                  <li><a routerLink="/">Home</a></li>
                  
              </ol>
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <!--End breadcrumb-->
    
    
                      </div>
    
    
              <!--Page content-->
              <!--===================================================-->
              <div id="page-content">
                  
        
        
        <!-- QUICK TIPS -->
        <!-- ==================================================================== -->
        <hr class="new-section-sm bord-no">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="panel panel-body">
                    <div class="panel-body">
        
                            <h2>DashBoard</h2>

                        <h3>Your content here...</h3>
                        <br>
                        <a href="index.html" class="btn btn-dark">Back</a>
                        <br><br><br>
                        <h3>Quick Tips</h3>
                        <br>
        
                        <h4>Boxed Layout</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td style="width:70ex">Boxed Layout</td>
                                        <td>Add <code>.boxed-layout</code> to the <code>#container</code>.</td>
                                    </tr>
                                    <tr>
                                        <td>Fluid Layout</td>
                                        <td>Remove <code>.boxed-layout</code> from the <code>#container</code>.</td>
                                    </tr>
                                    <tr>
                                        <td>Boxed Layout with background image</td>
                                        <td>
                                            <p class="text-main text-semibold">Add it in your own custom CSS Files</p>
                                            You may add your own class in your css custom file with path to your image.
                                            <pre>#container.boxed-layout <br>&#09;background-image: url("path-to-my-image.jpg");<br>&#09;background-repeat: no-repeat;<br>&#09;background-size: cover;<br></pre>
                                            <br>
                                            <p class="text-main text-semibold">Re-compiling using CSS preprocessors</p>
                                            <p>Fill the the variable <code>@boxed-bg-img</code> in <code>_variable.less</code> (LESS, SASS or SCSS) with the path to your image.</p>
                                            <pre>..<br>@boxed-bg-img    : "path-to-my-image.jpg"<br>...</pre>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
        
                        <h4>Navigation</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td style="width:70ex">Expanded the navigation by default</td>
                                        <td>Add <code>.mainnav-lg</code> to the <code>#container</code>.</td>
                                    </tr>
                                    <tr>
                                        <td>Fixed navigation</td>
                                        <td>Add <code>.mainnav-fixed</code> to the <code>#container</code>.</td>
                                    </tr>
                                    <tr>
                                        <td>Create a ToggleButton for navigation</td>
                                        <td>Add <code>.mainnav-toggle</code> to the button.</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <button class="btn btn-lg btn-primary mainnav-toggle">Toggle Navigation</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
        
                        <h4>Aside</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td style="width:70ex">Make Aside visible by default</td>
                                        <td>Add <code>.aside-in</code> to the <code>#container</code>.</td>
                                    </tr>
                                    <tr>
                                        <td>Fixed aside</td>
                                        <td>Add <code>.aside-fixed</code> to the <code>#container</code>.</td>
                                    </tr>
                                    <tr>
                                        <td>Floating Aside</td>
                                        <td>Add <code>.aside-float</code> to the <code>#container</code>.</td>
                                    </tr>
                                    <tr>
                                        <td>Aside on the left side</td>
                                        <td>Add <code>.aside-left</code> to the <code>#container</code>.</td>
                                    </tr>
                                    <tr>
                                        <td>Use the bright color schemes</td>
                                        <td>Add <code>.aside-bright</code> to the <code>#container</code>.</td>
                                    </tr>
                                    <tr>
                                        <td>Create a ToggleButton for aside</td>
                                        <td>Add <code>.aside-toggle</code> to the button.</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <button class="btn btn-success btn-lg aside-toggle">Toggle Aside</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h4>Navbar</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td style="width:70ex">Fixed navbar</td>
                                        <td>Add <code>.navbar-fixed</code> to the <code>#container</code>.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h4>Footer</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td style="width:70ex">Fixed footer</td>
                                        <td>Add <code>.footer-fixed</code> to the <code>#container</code>.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h4>Color Schemes</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td style="width:70ex">Apply a different color scheme</td>
                                        <td>You can change whole color scheme of your website by adding a color scheme stylesheet into the <code>&lt;head></code>.</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><pre>&lt;head><br>	...<br>	&lt;link href="path-to-the-color-scheme.css" rel="stylesheet"><br>&lt;/head></pre></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h4>Animation</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td style="width:70ex">Remove animation</td>
                                        <td>Remove the class <code>.effect</code> from <code>#container</code>.</td>
                                    </tr>
                                    <tr>
                                        <td>Add different slide transitions to the Navigation and Aside</td>
                                        <td>
                                            Add <code>.effect</code> to the <code>#container</code> and then combined with the class name of the transition function.
                                            <br>
                                            <br>
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th style="width: 250px;">Transition function</th>
                                                        <th>Class name</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>easeInQuart</td>
                                                        <td><code>.easeInQuart</code></td>
                                                    </tr>
                                                    <tr>
                                                        <td>easeOutQuart</td>
                                                        <td><code>.easeOutQuart</code></td>
                                                    </tr>
                                                    <tr>
                                                        <td>easeInBack</td>
                                                        <td><code>.easeInBack</code></td>
                                                    </tr>
                                                    <tr>
                                                        <td>easeOutBack</td>
                                                        <td><code>.easeOutBack</code></td>
                                                    </tr>
                                                    <tr>
                                                        <td>easeInOutBack</td>
                                                        <td><code>.easeInOutBack</code></td>
                                                    </tr>
                                                    <tr>
                                                        <td>steps</td>
                                                        <td><code>.steps</code></td>
                                                    </tr>
                                                    <tr>
                                                        <td>jumping</td>
                                                        <td><code>.jumping</code></td>
                                                    </tr>
                                                    <tr>
                                                        <td>rubber</td>
                                                        <td><code>.rubber</code></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
        <!-- ==================================================================== -->
        <!-- END QUICK TIPS -->
        
        
                
              </div>
              <!--===================================================-->
              <!--End page content-->
    
    
          </div>
          <!--===================================================-->
          <!--END CONTENT CONTAINER-->
    
    
          
          <!--MAIN NAVIGATION-->
          <!--===================================================-->
         <app-sidebar></app-sidebar>
          <!--===================================================-->
          <!--END MAIN NAVIGATION-->
          
          <!--ASIDE-->
          <!--===================================================-->
          <aside id="aside-container">
              <div id="aside">
                  <div class="nano">
                      <div class="nano-content">
                          
                          <!--Nav tabs-->
                          <!--================================-->
                          <ul class="nav nav-tabs nav-justified">
                              <li class="active">
                                  <a href="#demo-asd-tab-1" data-toggle="tab">
                                      <i class="pli-speech-bubble-7"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="#demo-asd-tab-2" data-toggle="tab">
                                      <i class="pli-information"></i>
                                      Reports
                                  </a>
                              </li>
                              <li>
                                  <a href="#demo-asd-tab-3" data-toggle="tab">
                                      <i class="pli-wrench"></i>
                                      Settings
                                  </a>
                              </li>
                          </ul>
                          <!--================================-->
                          <!--End nav tabs-->
    
    
    
                          <!-- Tabs Content -->
                          <!--================================-->
                          <div class="tab-content">
    
                              <!--First tab-->
                              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                              <div class="tab-pane fade in active" id="demo-asd-tab-1">
                                  <p class="pad-all text-lg">First tab</p>
                                  <div class="pad-hor">
                                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                      sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                      Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                                      ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
                                      velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
                                      et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                  </div>
                              </div>
                              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                              <!--End first tab-->
    
    
                              <!--Second tab-->
                              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                              <div class="tab-pane fade" id="demo-asd-tab-2">
                                  <p class="pad-all text-lg">Second tab</p>
                                  <div class="pad-hor">
                                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                      sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                      Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                                      ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
                                      velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
                                      et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                  </div>
                              </div>
                              <!--End second tab-->
                              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    
    
                              <!--Third tab-->
                              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                              <div class="tab-pane fade" id="demo-asd-tab-3">
                                  <p class="pad-all text-lg">Third tab</p>
                                  <div class="pad-hor">
                                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                      sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                      Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                                      ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate
                                      velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
                                      et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                  </div>
                              </div>
                              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    
                          </div>
                      </div>
                  </div>
              </div>
          </aside>
          <!--===================================================-->
          <!--END ASIDE-->
    
      </div>
    
      
    
      <!-- FOOTER -->
      <!--===================================================-->
      <app-footer></app-footer>
      <!--===================================================-->
      <!-- END FOOTER -->
    
    
      
    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->
    